{% extends 'base.html' %}  {# 将当前页面继承至base.html母版  #}
{% block content %}
        <div class="col-sm-9 col-12" id="left" style="padding-right: 0px">
            <div class="col-12 article-detail row">
                <div class="col-9 title">
                    {# set article=result[0] #}
                    {{article.headline}}
                </div>
                <div class="col-3 favorite">
                    {% if is_favorited == True %}
                    <label class="favorite-btn" onclick="cancelFavorite('{{article.articleid}}')"><img src="/img/icon/like_red.png" width="20" height="20" alt=""/>取消收藏</label>
                    {% else %}
                    <label class="favorite-btn" onclick="addFavorite('{{article.articleid}}')"><img src="/img/icon/like_blue.png" width="20" height="20" alt=""/>收藏本文</label>
                    {% endif %}
                    <!-- 如果需要文章编辑的功能菜单：if article.userid == session.get('userid') -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
                    作者：{{article.nickname}}&nbsp;&nbsp;&nbsp;类别：{{article_type[article.type | string]}}&nbsp;&nbsp;&nbsp;
                    日期：{{article.createtime}}&nbsp;&nbsp;&nbsp;
                    阅读：{{article.readcount}} 次&nbsp;&nbsp;&nbsp;消耗积分：{{article.credit}} 分
                </div>
                <div class="col-12 content" id="content">
                    {{article.content | safe}}
                </div>

                {# 只有需要消耗积分的文章且用户并未消耗过时才显示阅读全文的按钮 #}
                {% if article.credit > 0 and payed==False %}
                <div class="col-12 readall">
                    {% if session.get('islogin') == 'true' %}
                    <button class="col-sm-10 col-12" onclick="readAll()">
                        <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
                        阅读全文，消耗积分为：{{article.credit}}
                    </button>
                    {% else %}
                    <button class="col-sm-10 col-12" onclick="showLogin()">
                        <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
                        您还未登录，在此登陆后可阅读全文
                    </button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-12 article-nav">
                <div>版权所有，转载本站文章请注明出处：
                    <a href="http://127.0.0.1:5000/article/{{article.articleid}}">
                        http://127.0.0.1:5000/article/{{article.articleid}}
                    </a>
                </div>
                <div>上一篇：
                    <a href="/article/{{prev_next.prev_id}}">{{prev_next.prev_headline}}</a>
                </div>
                <div>下一篇：
                    <a href="/article/{{prev_next.next_id}}">{{prev_next.next_headline}}</a>
                </div>
            </div>

            <!--文章评论-->
            <div class="col-12 article-comment">
                <div class="col-12 row">
                    <div class="col-sm-2 col-12">
                        {% if session.get('islogin') == 'true' %}
                        <label for="nickname_y">你的昵称：</label>
                        {% else %}
                        <label for="nickname_n">你的昵称：</label>
                        {% endif %}
                    </div>
                    <div class="col-sm-10 col-12">
                        {% if session.get('islogin') == 'true' %}
                        <input type="text" class="form-control" id="nickname_y" value="{{session.get('nickname')}}" readonly/>
                        {% else %}
                        <input type="text" class="form-control" id="nickname_n" value="你还未登录，双击此处登录" ondblclick="showLogin()" readonly/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-sm-2 col-12">
                        <label for="comment">你的评论：</label>
                    </div>
                    <div class="col-sm-10 col-12" style="padding: 0 0 0 10px;">
                        <textarea id="comment" class="form-control"
                                  placeholder="请在此留下你的真诚的、感人的、发自肺腑的赞美之词."
                                  style="height: 100px;"></textarea>
                    </div>
                </div>
                {% if session.get('islogin') == 'true' %}
                <div class="col-12 row">
                     <div class="col-12" style="text-align: right">
                         <button type="button" class="btn btn-primary" onclick="addComment('{{article.articleid}}')" id="submitBtn">发表评论</button>
                         <button type="button" class="btn btn-primary" onclick="replyComment('{{article.articleid}}')"
                                 style="display: none" id="replyBtn">回复评论</button>
                     </div>
                </div>
                {% else %}
                <div class="col-12 row" style="margin-bottom: 20px;">
                    <div class="col-2"></div>
                    <div class="col-sm-8 col-12" style="text-align: left; color: #888888;">提示：登录后添加有效评论可享受积分哦！</div>
                    <div class="col-sm-2 col-12" style="text-align: right">
                        <button type="button" class="btn btn-primary" onclick="showLogin()">点此登录</button>
                    </div>
                </div>
                {% endif %}

                {% for comment, user in comment_user %}
                <div class="col-12 list row">
                    <div class="col-2 icon">
                        <img src="/img/avatar/{{user.avatar}}" class="img-fluid" style="width: 70px;" alt=""/>
                    </div>
                    <div class="col-10 comment">
                        <div class="col-12 row" style="padding: 0px;">
                            <div class="col-5 commenter" style="color: red">
                                {% if user.nickname!=None and user.nickname!='' %} {{user.nickname}}
                                {% else %}{{user.username}}{% endif %}&nbsp;&nbsp;&nbsp;{{comment.createtime}}
                            </div>
                            <div class="col-7 reply" style="text-align: right">
                                <!--文章作者，管理员，评论者本人只能对评论信息回复和隐藏，不能点赞-->
                                {% if article.userid==session.get('userid') or session.get('role')=='admin' or
                                comment['userid']==session.get('userid') %}
                                <label onclick="gotoReply('{{comment.commentid}}')">
                                    <span aria-hidden="true">
                                        <img src="/img/icon/reply.png" width="25" height="25" alt=""/>
                                    </span> 回复 (<span>25</span>)
                                </label>&nbsp;&nbsp;&nbsp;
                                <label onclick="hideComment(this, '{{comment.commentid}}')">
                                    <span aria-hidden="true">
                                        <img src="/img/icon/hide.png" width="25" height="25" alt=""/>
                                    </span> 隐藏 (<span>15</span>)
                                </label>&nbsp;&nbsp;&nbsp;
                                <!--其他用户只能回复和点赞，不能隐藏-->
                                {# 如果需要设计匿名用不能点赞，继续判断是否是登陆状态即可 #}
                                {% elif session.get('islogin')==None %}
                                {% else %}
                                <label onclick="gotoReply('{{comment.commentid}}')">
                                    <span aria-hidden="true">
                                        <img src="/img/icon/reply.png" width="25" height="25" alt=""/>
                                    </span> 回复 (<span>25</span>)
                                </label>&nbsp;&nbsp;&nbsp;
                                <label onclick="agreeComment(this, '{{comment.commentid}}')">
                                    <span class="oi oi-chevron-bottom" aria-hidden="true"></span> 赞成 (<span>15</span>)
                                </label>&nbsp;&nbsp;&nbsp;
                                <label onclick="opposeComment(this, '{{comment.commentid}}')">
                                    <span aria-hidden="true">
                                        <img src="/img/icon/oppose.png" width="25" height="25" alt=""/>
                                    </span> 反对 (<span>15</span>)
                                </label>&nbsp;&nbsp;&nbsp;
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 content">
                            {{comment.content}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% include 'side.html' %}
<script>
    function readAll() {
        var param = 'articleid={{article.articleid}}&position={{position}}';
        $.post('/readall', param, function (data) {
            $("#content").append(data);
            $(".readall").hide();
        })
    }
    function addFavorite(articleid) {
        $.post('/favorite', 'articleid='+articleid, function (data) {
            if (data == 'not-login'){
                bootbox.alert({title:"错误提示", message:"还未登录，不能收藏文章."});
            }
            else if(data == 'favorite-pass'){
                bootbox.alert({title:"信息提示",message:"文章收藏成功，可在我的收藏中查看."});
                // 菜单名称修改为：感谢收藏
                $(".favorite-btn").html('<img src="/img/icon/like_red.png" width="20" height="20" alt=""/>感谢收藏');
                //取消收藏按钮的单击事件
                $(".favorite-btn").attr('onclick', '').unbind('click');
            }
            else {
                bootbox.alert({title:"信息提示",message:"文章收藏出错，请联系管理员."});
            }
        })
    }
    function cancelFavorite(articleid) {
    //    $ 没有 $.delete，使用全局请求方式（ajax包含所有请求方式）
        $.ajax({
            url:'/favorite/'+articleid,
            type:'delete',
            success: function (data) {
                if (data == 'not-login'){
                    bootbox.alert({title:"错误提示", message:"还未登录，不能收藏文章."});
                }
                else if(data == 'cancel-pass'){
                    bootbox.alert({title:"信息提示",message:"取消收藏成功."});
                    $(".favorite-btn").html('<span class="oi oi-heart" aria-hidden="true"></span>欢迎再来');
                    $(".favorite-btn").attr('onclick', '').unbind('click');
                }
                else if(data == 'cancel-fail'){
                    bootbox.alert({title:"信息提示",message:"取消收藏出错，请联系管理员."});
                }
            }
        });
    }

    function addComment(articleid) {
        var content = $.trim($("#comment").val());
        if (content.length<5 || content.length>1000){
            bootbox.alert({title:"错误提示", message:"评论内容需要在5-1000字之间."});
            return false
        }
        var param = 'articleid='+articleid+'&content='+content;
        $.post('/comment', param, function (data) {
            if(data=='content-invalid'){
                bootbox.alert({title:"错误提示", message:"评论内容需要在5-1000字之间."});
            }
            else if(data=='add-limit'){
                bootbox.alert({title:"错误提示", message:"您当天已经用完5条评论的限额."});
            }
            else if(data=='add-pass'){
                location.reload();
            }
            else if (data=='not-login'){
                bootbox.alert({title:"错误提示", message:"还未登录，不能发表评论"});
            }
            else {
                bootbox.alert({title:"错误提示", message:"发表评论错误，请联系管理员."});
            }
        });
    }
    // 通过什么样的方式传递commentid？
    // 1、使用全局变量
    // 2、使用一个临时DIV或隐藏的表单元素做中转<div id='temp' style='display:none'>12345</div>
    var COMMENTID=0;
    function gotoReply(commentid) {
        $("#replyBtn").show();
        $("#submitBtn").hide();
        $("#nickname_y").val("请在此回复编号为 "+commentid+" 的评论");
        $('#comment').focus();  // 让文本域获取焦点
        COMMENTID = commentid;
    }
    function replyComment(articleid) {
        var content = $.trim($("#comment").val());
        if(content.length<5 || content.length>1000){
            bootbox.alert({title:"错误提示", message:"评论内容在5-1000字之间"});
            return false;
        }
        var param = 'articleid='+ articleid;
        param += '&content='+content;
        param += '&commentid=' + COMMENTID;
        $.post('/reply', param, function (data) {
            if(data == 'content-invalid'){
                bootbox.alert({title:"错误提示", message:"评论内容在5-1000字之间"});
            }
            else if(data=='reply-limit'){
                bootbox.alert({title:"错误提示", message:"当天已用完5条评论的限额"});
            }
            else if (data=='reply-pass'){
                location.reload();
            }
            else if(data=='reply-fail'){
                bootbox.alert({title:"错误提示", message:"回复评论出错，请联系管理员"});
            }
            else if (data=='not-login'){
                bootbox.alert({title:"错误提示", message:"还未登录，不能发表评论"});
            }
        });
    }
</script>
{% endblock %}