{% extends 'base.html' %}  {# 将当前页面继承至base.html母版  #}
{% block content %}
        <div class="col-sm-9 col-12" id="left" style="padding-right: 0px">
            <div class="col-12 article-detail row">
                <div class="col-9 title">
                    核心实验：利用UISpy识别Windows界面元素
                </div>
                <div class="col-3 favorite">
                    <label><span class="oi oi-heart" aria-hidden="true"></span>收藏本文</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 info">
                    作者：wyj&nbsp;&nbsp;&nbsp;类别：测试开发&nbsp;&nbsp;&nbsp;
                    日期：2021-01-26 17:34:19&nbsp;&nbsp;&nbsp;
                    阅读：345 次&nbsp;&nbsp;&nbsp;消耗积分：0 分
                </div>
                <div class="col-12 content">
                    Flask 是一个微型的 Python 开发的 Web 框架，基于Werkzeug WSGI工具箱和Jinja2 模板引擎，主要包含以下特性：<br>
                    1、内置开发用服务器和debugger<br>
                    2、集成单元测试（unit testing）<br>
                    3、RESTful request dispatching<br>
                    4、使用Jinja2模板引擎<br>
                    5、支持secure cookies（client side sessions）<br>
                    6、100% WSGI 1.0兼容<br>
                    7、Unicode based<br>
                    8、Google App Engine兼容<br>
                    9、可用Extensions增加其他功能<br>
                </div>
            </div>
            <div class="col-12 article-nav">
                <div>版权所有，转载本站文章请注明出处：http://www.woniunote.com/article/601</div>
                <div>上一篇：
                    <a href="#">因为放心，所以选择！</a>
                </div>
                <div>下一篇：
                    <a href="#">书籍详解！</a>
                </div>
            </div>

            <!--文章评论-->
            <div class="col-12 article-comment">
                <div class="col-12 row">
                    <div class="col-sm-2 col-12">
                        <label for="nickname">你的昵称：</label>
                    </div>
                    <div class="col-sm-10 col-12">
                        <input type="text" class="form-control" id="nickname"/>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-sm-2 col-12">
                        <label for="comment">你的评论：</label>
                    </div>
                    <div class="col-sm-10 col-12" style="padding: 0 0 0 10px;">
                        <textarea id="comment" class="form-control"
                                  placeholder="请在此留下你的真诚的、感人的、发自肺腑的赞美之词."
                                  style="height: 100px;"></textarea>
                    </div>
                </div>
                <div class="col-12 row" style="margin-bottom: 20px;">
                    <div class="col-2"></div>
                    <div class="col-sm-8 col-12" style="text-align: left; color: #888888;">提示：登录后添加有效评论可享受积分哦！</div>
                    <div class="col-sm-2 col-12" style="text-align: right">
                        <button type="button" class="btn btn-primary" onclick="showLogin()">点此登录</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}