<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍</title>
</head>
<body>
    <table width="500" border="1" align="center" cellpadding="5">
        <tr>
            <td width="20%">编号</td>
            <td width="30%">书名</td>
            <td width="30%">作者</td>
            <td width="20%">价格</td>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>